<% if Helpers.is_logged_in?(session) %>
<%= @error %>
  <form action='/tweets' method="post">
    Content:
    <input type="text" name="content"><br>
    Write Your Tweet Here:

    <input type="submit" name="submit" id="submit">

    <input type="submit" name="submit">

  </form>

  <% else %>
      <h1> Please Log In to Make Tweets </h1>
  <% end %>
